@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1d1d;
    color: white;
   padding: 12px;
}


.header h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 29px;
}


.header a {
    margin-left: 9px;
    font-weight: 600;
}
